<ion-header translucent="true">
  <ion-toolbar>
    <ion-buttons *ngIf="!showSearchbar" slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-segment
      *ngIf="ios"
      [(ngModel)]="segment"
      (ionChange)="updateSchedule()"
    >
      <ion-segment-button value="all"> همه ی امکانات </ion-segment-button>
      <ion-segment-button value="favorites">
        بیشتر استفاده شده
      </ion-segment-button>
    </ion-segment>
    <ion-title *ngIf="!ios && !showSearchbar">داشبورد</ion-title>
    <ion-searchbar
      *ngIf="showSearchbar"
      showCancelButton="always"
      [(ngModel)]="queryText"
      (ionChange)="updateSchedule()"
      (ionCancel)="showSearchbar = false"
      placeholder="Search"
    ></ion-searchbar>
    <ion-buttons slot="end">
      <ion-button *ngIf="!ios && !showSearchbar" (click)="showSearchbar = true">
        <ion-icon slot="icon-only" name="search"></ion-icon>
      </ion-button>
      <ion-button *ngIf="!showSearchbar" (click)="presentFilter()">
        <span *ngIf="ios">دسته بندی</span>
        <span *ngIf="!ios">
          <ion-icon slot="icon-only" name="options"></ion-icon>
        </span>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
  <ion-toolbar *ngIf="!ios">
    <ion-segment [(ngModel)]="segment" (ionChange)="updateSchedule()">
      <ion-segment-button value="all"> همه ی امکانات </ion-segment-button>
      <ion-segment-button value="favorites">
        بیشتر استفاده شده
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">داشبورد</ion-title>
    </ion-toolbar>
    <ion-toolbar>
      <ion-searchbar
        [(ngModel)]="queryText"
        (ionChange)="updateSchedule()"
        placeholder="جستجو"
      ></ion-searchbar>
    </ion-toolbar>
  </ion-header>

  <div style="text-align: center; align-items: center">
    <br />
    <br />
    <img
      width="100px"
      style="align-self: center"
      src="../../assets/img/user.png"
      alt=""
    />
    <h1>کاربر</h1>
    <h4 style="font-size: small">اعتبار: 0 تومان</h4>
  </div>

  <br />
  <br />

  <ion-grid>
    <ion-row>
      <ion-col
        style="
          text-align: center;
          background-color: rgb(43, 116, 226);
          margin: 5px;
        "
      >
        <ion-icon name="logo-twitter"></ion-icon>
        <br />
        <a style="color: azure" routerLink="/tweetnegar">توئیت نگار</a>
      </ion-col>
      <ion-col
        style="
          text-align: center;
          background-color: rgb(65, 65, 65);
          margin: 5px;
        "
      >
        <ion-icon name="people-outline"></ion-icon>
        <br />
        به زودی
      </ion-col>
    </ion-row>
    <!-- <br> -->
    <ion-row>
      <ion-col
        style="
          text-align: center;
          background-color: rgb(65, 65, 65);
          margin: 5px;
        "
      >
        <ion-icon name="alarm-outline"></ion-icon>
        <br />
        به زودی
      </ion-col>
      <ion-col
        style="
          text-align: center;
          background-color: rgb(65, 65, 65);
          margin: 5px;
        "
      >
        <ion-icon name="apps-sharp"></ion-icon>
        <br />
        به زودی
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-fab slot="fixed" vertical="bottom" horizontal="end" #fab>
    <ion-fab-button>
      <ion-icon name="share-social"></ion-icon>
    </ion-fab-button>
    <ion-fab-list side="top">
      <ion-fab-button color="vimeo" (click)="openSocial('Vimeo', fab)">
        <ion-icon name="logo-vimeo"></ion-icon>
      </ion-fab-button>
      <ion-fab-button color="instagram" (click)="openSocial('Instagram', fab)">
        <ion-icon name="logo-instagram"></ion-icon>
      </ion-fab-button>
      <ion-fab-button color="twitter" (click)="openSocial('Twitter', fab)">
        <ion-icon name="logo-twitter"></ion-icon>
      </ion-fab-button>
      <ion-fab-button color="facebook" (click)="openSocial('Facebook', fab)">
        <ion-icon name="logo-facebook"></ion-icon>
      </ion-fab-button>
    </ion-fab-list>
  </ion-fab>
</ion-content>
