<ion-header translucent="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button *ngIf="ios" (click)="dismiss()">لغو</ion-button>
      <ion-button *ngIf="!ios" (click)="selectAll(false)">ریست</ion-button>
    </ion-buttons>

    <ion-title> تنظیمات برنامه </ion-title>

    <ion-buttons slot="end">
      <ion-button (click)="applyFilters()" strong>اعمال</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list [lines]="ios ? 'inset' : 'full'">
    <ion-list-header>تنظیمات ظاهری</ion-list-header>

    <ion-item>
      <ion-label>تغییر</ion-label>
      <ion-checkbox></ion-checkbox>
    </ion-item>
  </ion-list>
</ion-content>

<ion-footer translucent="true" *ngIf="ios">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="selectAll(false)">لغو انتخاب</ion-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button (click)="selectAll(true)">انتخاب همه</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-footer>
